// version.rc
#include <windows.h>

1 VERSIONINFO
FILEVERSION ${PROJECT_VERSION_MAJOR},${PROJECT_VERSION_MINOR},${PROJECT_VERSION_PATCH},0
PRODUCTVERSION ${PROJECT_VERSION_MAJOR},${PROJECT_VERSION_MINOR},${PROJECT_VERSION_PATCH},0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // Language and CodePage
        BEGIN
            VALUE "CompanyName", "DjPopol"
            VALUE "FileDescription", "PPPwn C++"
            VALUE "FileVersion", "${PROJECT_VERSION}"
            VALUE "InternalName", "pppwn"
            VALUE "OriginalFilename", "pppwn.exe"
            VALUE "ProductName", "PPPwnCpp"
            VALUE "ProductVersion", "${PROJECT_VERSION}"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 // Language: English, CodePage: 1200 (Unicode)
    END
END
